<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="./static/css/global.css">
    
    
    {% block extra_css %}
    {% endblock %}

    <title>{% block title %}Portafolio - Thomas Gelves{% endblock %}</title>
    
    {% if page == "index" %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=\" crossorigin=\"\" />
    {% endif %}

</head>
<body>
    {% if not request.endpoint in ['login', 'inicio','imc'] %}
    {% include 'components/header.html' %}
    {% endif %}

    <main>
        <!-- Manejo de mensajes flash para feedback de CRUD/Login -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages" style="text-align: center; padding: 10px; margin-bottom: 20px;">
              {% for category, message in messages %}
                <p class="{{ category }}" style="color: white; padding: 10px; border-radius: 5px; 
                                                 /* Estilos simples basados en la categoría del mensaje */
                                                 {% if category == 'error' %} background-color: #d9534f;
                                                 {% elif category == 'success' %} background-color: #5cb85c; 
                                                 {% else %} background-color: #f0ad4e; {% endif %}">
                    {{ message }}
                </p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}
    </main>
    {% if not request.endpoint in ['login', 'inicio'] %}
    {% include 'components/footer.html' %}
    {% endif %}
    
    <script src="./static/js/script.js"></script>
</body>
</html>