{% extends 'base.html'%}

{% block extra_css %}
<link rel="stylesheet" href="./static/css/index.css">
{% endblock %}

{% block content%}
        <div class="contenedor_header">
            <header>
                <h1 class="titulo_principal"> 
                    Thomas Gelves  aprendiz de programacion de sofware
                </h1>
            </header>
        </div>

        <div id="mi_mapa">
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

            <script>
                   let map = L.map('mi_mapa').setView([6.955707, -71.871494],16)
                   L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                   attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'
                   }).addTo(map);

                   L.marker([6.955707, -71.871494]).addTo(map)
                   .bindPopup('Mi Ubicación')
                   .openPopup();

            </script>
        </div>

    <main class="contenedor_principal, fondo_header">
        <h2 class="mayusculas">mis habilidades</h2>
        
        {% if session.get('rol') =='admin' %}
            <div style="text-align: center; margin-bottom: 25px;">
                <a href="{{ url_for('editar_habilidades_lista') }}" class="boton_ab" style="display: inline-block;">⚙️ Administrar Habilidades</a>
            </div>
        {% endif %}

        <div class="contenedor_habilidades">
            {% for habilidad in habilidades %}
            <section class="habilidad">
                <h3>{{ habilidad.nombre }}</h3>

                <div class="contenedor_icono">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" width="60" height="60" stroke-width="1.25">
                        {{ habilidad.icono_svg | safe }}
                    </svg>
                </div>
                <div>
                    <p>
                       {{ habilidad.descripcion }}
                    </p>
                </div>
            </section>
            {% endfor %}
            {% if not habilidades %}
                <p style="text-align: center; width: 100%; color: #aaa;">No hay habilidades registradas. ¡Inicia sesión para agregarlas!</p>
            {% endif %}
        </div>

    </main>

{%endblock%}